body {
    margin-top: 80px;
    background: #eeeeee;
}

.messages-alert {
    list-style: none;
    padding: 0;
}

.card {
    background: white;
    border-radius: 4px;
    padding: 10px;
    margin: 2px;
    min-width: 100px;
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
}

.card.selected {
    background: #2aabd2;
    color: white;
}

.ingredientes-container {
    display: flex;
    flex-wrap: wrap;
}