<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="titulo">Cadastro Cidade</ui:define>

    <ui:define name="conteudo">
        <div class="container">
            <h:form>
                <div class="row center-block">
                    <div class="form-group col-xs-4">

                        <p>
                            <h:outputLabel for="nome" value="Nova Cidade"/>
                            <h:inputText styleClass="form-control" id="nome"
                                         value="#{controllerCidade.nome}"/>
                            <h:message for="nome" />
                            <br />
                            <h:commandButton value="Salvar Cidade" action="#{controllerCidade.cadastrar()}">
                                <f:ajax execute="@form" render="@all"/>
                            </h:commandButton>
                        </p>
                        <br />d
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>