<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="titulo">Pesquisar</ui:define>

    <ui:define name="conteudo">
        <div class="container">
            <h:form>
                <div class="row center-block">
                    <div class="form-group col-xs-12">
                        <h:outputLabel for="nome" value="Nome"/>
                        <p>
                            <h:inputText styleClass="form-control" id="nome"
                                         value="#{listarCidadeController.descricaoCidade}"/>

                        </p>
                    </div>
                    <div class="form-group col-xs-12">
                        <h:commandButton
                                styleClass="btn btn-primary pull-right"
                                action="#{listarControllerCidade.getListaCidades}"
                                value="Pesquisar">
                            <f:ajax execute="@form" render=":container2"/>
                        </h:commandButton>
                        <h:link outcome="cadastrar" value="Novo" styleClass="btn btn-success"/>
                    </div>

                </div>
            </h:form>
            <h:form id="container2">


                <h:dataTable id="table" styleClass="table table-condensed table-hover"
                             value="#{listarCidadeController.listaCidades}"
                             var="cidade">
                    <h:column>
                        <f:facet name="header">Nome</f:facet>
                        #{cidade.nome}
                    </h:column>
                        <f:facet name="header">
                            Ação
                        </f:facet>
                        <h:commandButton value="remover"
                                         styleClass="btn btn-danger btn-sm"
                                         action="#{listarControllerCidade.remover(cidade)}">
                            <f:ajax execute="@this" render="notificacao @form"/>
                        </h:commandButton>
                </h:dataTable>
            </h:form>

        </div>
    </ui:define>
</ui:composition>