<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="titulo">Index</ui:define>

    <ui:define name="conteudo">
        <div class="container">
            <h:form>
                <div class="row center-block">
                    <div class="form-group col-xs-4">


                        <h:outputLabel for="nome" value="Nome"/>
                        <p><a href="cidade/">Cadastro de Cidade</a></p>
                        <p><a href="cidade/listar">Lista de Cidade</a></p>
                    </div>

                </div>
            </h:form>

        </div>
    </ui:define>
</ui:composition>